# Ignore everything
*

# Allow gitignore itself and shell files
!.gitignore
!.zshrc
!.p10k.zsh

# Unignore files in the .config directory
!.config/rofimoji.rc

# Unignore files inside those folders
!.config/hypr/*
!.config/kitty/*
!.config/nvim/*
!.config/rofi/*
!.config/swaync/*
!.config/waybar/*
