* {
  background-color: transparent;
  color: #cbd5e1;
  font-family: 'FiraCode Nerd Font', monospace;
  font-size: 14px;
  border: none;
  min-height: 0;
}

window#waybar {
  background-color: #0f1115;
}

.modules-right>widget>* {
  padding: 0 8px;
  margin: 0;
}

#pulseaudio,
#cpu,
#custom-clock {
  font-feature-settings: "tnum";
}

#workspaces {
  padding: 0 4px;
}

#workspaces button {
  all: initial;
  color: #cbd5e1;
  padding: 0 6px;
}

#workspaces button.empty {
  opacity: 0.4;
}

#workspaces button.active {
  color: #a6e3a1;
}

#custom-expand-icon {
  padding-left: 4px;
  padding-right: 0;
  margin-right: 12px;
  /* Gap between chevron and expanded apps */
  color: #cbd5e1;
}

.tray-group-item {
  padding: 0 4px;
}

/* Module text & icon colors */
#bluetooth {
  color: #b4befe;
  padding-left: 0;
}

#network {
  color: #89b4fa;
}

#pulseaudio {
  color: #74c7ec;
}

#cpu {
  color: #f9e2af;
}

#custom-battery {
  color: #a6e3a1;
}

#custom-notifications {
  color: #f38ba8;
}

#custom-clock {
  color: #cdd6f4;
}

menu,
.menu,
#waybar menu {
  background-color: #0f1115;
  border: 1px solid #313244;
  border-radius: 8px;
  padding: 4px;
}

tooltip {
  background-color: #0f1115;
  border: 1px solid #313244;
  border-radius: 6px;
}

tooltip label {
  color: #cbd5e1;
}
